:root {
    --bs-danger-bg-subtle: #f5c5cd; 

  }

body {
    min-width: 372px;
}

.wrapper {
    min-height: 100vh;
    
}

.bg-danger-subtle {
    background-color: #f5c5cd; 

  }

.text-black {
    color: #000; 
  }

p.truncar-3l {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
   
}

.btn:hover {
    border-color: #ffffff;
}

.btn-light {
    border: 2px solid #f5c5cd; 
  
}
  
.btn-light:hover { 
    border-color: #ffffff;
    background-color: #f5c5cd; 
}

.caixaInterativa {
    display: none;
    border: 1px solid white;
    padding: 10px;
    margin: 20px;
    background-color: #f5c5cd;
    border-radius: 10px;
  }
  
  .botao {
    border-radius: 10px;
  }
  
  .mensagem {
    font-size: 18px;
  }
  
  .darkmode-toggle {
    position: absolute;
    z-index: 1;
  }


@media screen and (max-width: 469px) {
    .mt-xs-3 {
        margin-top: 1rem;
    }
}

label:hover .text-dark {
    transition: color 0.2s ease;
    color: white ;
}

label .text-dark {
    transition: color 0.2s ease;
}

.btn-check:checked+.btn-outline h3,
.btn-check:active+.btn-outline h3,
.btn-check:hover+.btn-outline h3,
.btn-check:checked+.btn-outline hr,
.btn-check:active+.btn-outline hr,
.btn-check:hover+.btn-outline hr,
.btn-check:checked+.btn-outline h4,
.btn-check:active+.btn-outline h4,
.btn-check:hover+.btn-outline h4,
.btn-check:checked+.btn-outline p,
.btn-check:active+.btn-outline p,
.btn-check:hover+.btn-outline p,
.btn-check:checked+.btn-outline .text-dark,
.btn-check:active+.btn-outline .text-dark,
.btn-check:hover+.btn-outline .text-dark {
    transition: color 0.2s ease;
    color: white ;
}


.btn-check:checked+.btn-outline,
.btn-check:active+.btn-outline,
.btn-check:hover+.btn-outline {
    transition: background-color 0.2s ease;
    background-color: var(--bs-danger-bg-subtle) !important;
}

.flex-even {
    flex: 1;
    min-width: 300px;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #f5c5cd !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

fieldset.row .form-floating>label {
    margin-left: calc(var(--bs-gutter-x) * 0.5);
}

.page-link {
    color: var(--bs-danger-bg-subtle);
}

.mensagem {
    font-size: 14px;
  }

